<h1>About WBF</h1>
<p>Are you constanly talking with firends who are doubting what you say? Show them your right by making your friends pay up when you win the bet! Placing a wager on the line and show your compadres whats up!</p>