<h1>About WBF</h1>
<p>Are you constanly talking about things with firends at they are dounting what you are saying? Show them your right by making your friend pay up when you win the bet by placing a wager on the line</p>