
<div class="jumbotron">
	<h1>Wagers Between Friends</h1>
	<p>Put your money where your mouth is. We will make sure you follow through!</p>
	<p>Make your bet <%=link_to "now", "http://reppro.co", class: "btn btn-primary" %>.</p>
</div>